@import url('fonts/stylesheet.css');

/* ====================================================
   GENERAL STYLES
   ==================================================== */
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'open_sanslight', sans-serif;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

a,
.btn {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    outline: none !important;
}

a {
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
}

a:hover {
    color: #fff;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

p a {
    padding-bottom: 1px;
    border-bottom: 1px dotted rgba(255,255,255,0.4);
    font-family: 'open_sansregular', sans-serif;
}

p a:hover {
    border-color: #fff;
    border-color: rgba(255,255,255,1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'open_sansbold', sans-serif;
}

p {
    margin: 1em 0;
    text-align: justify;
    font-size: 18px;
    line-height: 29px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.pull-right {
    float: none !important;
}

@media (min-width: 768px) {
    .pull-right {
        float: right !important;
    }
}

/* -------------- BUTTONS ----------------- */
.btn {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 0;
    font-family: 'open_sanslight', sans-serif;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #000;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

/* ====================================================
   PAGE BACKGROUND AND OUTER CONTAINERS
   ==================================================== */
#outer-background-container {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#outer-container {
    display: block;
    width: 100%;
    height: 100%;
}

.custom-sections-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.background-image-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/theme_images/background-image-overlay.png) repeat;
}

/* ====================================================
   FIXED LEFT SIDEBAR (LOGO + MENU)
   ==================================================== */
#left-sidebar {
    display: block;
    background: rgba(0,0,0,0.29);
}

@media (min-width: 768px) {
    #left-sidebar {
        /* any change has to be replicated in #footer below */
        height: 100%;
        position: fixed;
        top: 0;
        left: 3%;
        width: 13%;
        max-width: 150px;
        min-width: 150px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.29) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.29)), color-stop(78%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000',GradientType=0 );
    }
}

@media (min-width: 992px) {
    #left-sidebar {
        /* any change has to be replicated in #footer below */
        left: 6.5%;
        width: 13%;
        max-width: 205px;
        min-width: 190px;
    }
}

@media (min-width: 1200px) {
}

/* -------------- LOGO ----------------- */
#left-sidebar .logo {
    padding: 15px 0 20px 0;
    text-align: center;
    background: rgba(0,0,0,0.1);
}

#left-sidebar .logo img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 75%;
    height: auto;
}

@media (min-width: 768px) {
    #left-sidebar .logo {
        padding: 28px 0 20px 0;
        background: none;
    }
}

@media (min-width: 992px) {
    #left-sidebar .logo {
        padding: 42px 0 30px 0;
    }
}

@media (min-width: 1200px) {
}

/* -------------- MAIN MENU ----------------- */
#left-sidebar #mobile-menu-icon {
    display: block;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    margin: 0;
    color: #c9c9c9;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#left-sidebar #mobile-menu-icon span {
    font-size: 1.43em;
    line-height: 45px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#left-sidebar #mobile-menu-icon:hover,
#left-sidebar #mobile-menu-icon.active {
    color: #fff;
    background: rgba(0,0,0,0.4);
}

#left-sidebar #main-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'open_sanslight', sans-serif;
    font-size: 0.86em;
    line-height: 1.05;
    text-transform: lowercase;
    background: rgba(0,0,0,0.1);
}

#left-sidebar #main-menu > li.menu-item {
    display: block;
    margin: 0;
    padding: 0;
}

#left-sidebar #main-menu > li.menu-item > a,
#left-sidebar #main-menu > li.menu-item > span {
    display: block;
    padding: 13px 10px;
    background: rgba(0,0,0,0.01);
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

#left-sidebar #main-menu > li.menu-item > a:hover {
    background: rgba(0,0,0,0.3);
}

#left-sidebar #main-menu > li.menu-item.active > * {
    font-family: 'open_sansbold', sans-serif;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
}

@media (min-width: 768px) {
    #left-sidebar #main-menu {
        display: block;
        margin: 8px 0;
        background: none;
        font-size: 0.9em;
        line-height: 1;
    }

    #left-sidebar #main-menu > li.menu-item > a,
    #left-sidebar #main-menu > li.menu-item > span {
        padding: 7px 10px;
    }
}

@media (min-width: 992px) {
    #left-sidebar #main-menu {
        margin: 12px 0;
        font-size: 1.02em;
        line-height: 1;
    }
}

@media (min-width: 1200px) {
}

/* ====================================================
   FOOTER (text)
   ==================================================== */
#footer {
    display: block;
    background: rgba(0,0,0,0.29);
    padding: 15px 5px;
    text-align: center;
    font-size: 0.6em;
}

#go-to-top {
    display: block;
    position: fixed;
    bottom: 5px;
    left: auto;
    right: 5px;
    cursor: default;
    z-index: 100;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#go-to-top.active {
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#go-to-top.active:hover {
    bottom: 10px;
    opacity: 1;
    filter: alpha(opacity=100);
}

#go-to-top .icon {
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

/* Social Icons */
#footer .social-icons {
    display: block;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

#footer .social-icons li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}

#footer .social-icons li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#footer .social-icons li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#footer .social-icons li img {
    width: 18px !important;
    height: auto !important;
}

@media (min-width: 768px) {
    #footer {
        /* have to match with #left-sidebar rules above */
        position: fixed;
        bottom: 10px;
        left: 3%;
        margin: 10px 0;
        width: 13%;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        background: none;
        z-index: 0;
        padding: 0;
    }

    #go-to-top {
        left: 5px;
        right: auto;
    }
}

@media (min-width: 992px) {
    #footer {
        /* have to match with #left-sidebar rules above */
        left: 6.5%;
        max-width: 205px;
        min-width: 190px;
    }
}

@media (min-width: 1200px) {
}

/* ====================================================
   MAIN CONTENT
   ==================================================== */
#main-content {
    display: block;
    position: relative;
    margin: 20px 5%;
    overflow: visible;
    min-height: 1px;
    font-family: 'open_sanslight', sans-serif;
}

@media (min-width: 768px) {
    #main-content {
        margin: 0 3% 0 22%;
        height: 100%;
    }
}

@media (min-width: 992px) {
    #main-content {
        margin: 0 6.5% 0 24.5%;
    }
}

@media (min-width: 1200px) {
}

#loader-main-content {
    display: none;
    height: 200px;
    width: 100%;
    background: url(../images/theme_images/loader.GIF) no-repeat center center;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#main-content .section-wrapper {
    display: block;
    position: relative;
}

#main-content .section-wrapper.modified-height {
    height: auto !important;
}

@media (min-width: 768px) {
    #main-content .section-wrapper {
        width: 100%;
        min-height: 100%;
    }

    #main-content .section-wrapper.modified-height {
        height: 100%;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

#main-content .section-wrapper .content-wrapper {
    display: block;
    width: 100%;
    position: static;
    right: auto;
    bottom: auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    padding: 65px 0 95px 0;
    background: url(../images/theme_images/mobile_section_divider.png) no-repeat center bottom;
    background-size: 35% auto;
}

#main-content .section-wrapper.modified-height .content-wrapper {
    height: auto !important;
}

#main-content .section-wrapper:first-of-type .content-wrapper {
    padding-top: 35px;
}

#main-content .section-wrapper:last-of-type .content-wrapper {
    padding-bottom: 35px;
    background: none;
}

@media (min-width: 768px) {
    #main-content .section-wrapper .content-wrapper {
        position: absolute;
        right: 0;
        bottom: 16%;
        text-align: right;
        padding: 0;
        background: none;
    }

    #main-content .section-wrapper .content-wrapper:first-of-type {
        padding-top: 0;
    }

    #main-content .section-wrapper .content-wrapper:last-of-type {
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    #main-content .section-wrapper .content-wrapper {
    }
}

@media (min-width: 1200px) {
}

/* General Heading Styles */
h1 {
    font-size: 2.25em;
    line-height: 1.1;
    margin: 0.5em 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
}

h2 {
    font-size: 1.85em;
    line-height: 1.1;
    margin: 0.55em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

h3 {
    font-size: 1.45em;
    line-height: 1.1;
    margin: 0.6em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

h4 {
    font-size: 1.25em;
    line-height: 1.1;
    margin: 0.65em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

h5 {
    font-size: 1.15em;
    line-height: 1.1;
    margin: 0.7em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

h6 {
    font-size: 1.05em;
    line-height: 1.1;
    margin: 0.7em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

#main-content *.section-title {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#main-content .feature-paragraph {
    font-size: 1.1em;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.95em;
    }

    h3 {
        font-size: 1.65em;
    }

    h4 {
        font-size: 1.28em;
    }

    h5 {
        font-size: 1.15em;
    }

    h6 {
        font-size: 1.05em;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.1em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.6em;
    }

    h5 {
        font-size: 1.3em;
    }

    h6 {
        font-size: 1.1em;
    }
}

@media (min-width: 1200px) {
}

#main-content .btn-lg {
    font-size: 0.9em;
    padding: 13px 30px;
}

#main-content .btn-sm {
    font-size: 0.73em;
    padding: 10px 26px;
}

#main-content .btn-xs {
    font-size: 0.65em;
    padding: 6px 18px;
}

@media (min-width: 768px) {
    #main-content .btn-lg {
        font-size: 0.95em;
    }

    #main-content .btn-sm {
        font-size: 0.80em;
    }

    #main-content .btn-xs {
        font-size: 0.70em;
    }
}

@media (min-width: 992px) {
    #main-content .btn-lg {
        font-size: 1.05em;
    }

    #main-content .btn-sm {
        font-size: 0.95em;
    }

    #main-content .btn-xs {
        font-size: 0.75em;
    }
}

@media (min-width: 1200px) {
}

/* feature text (larger) styles */
#main-content .feature-text {
    display: block;
    font-size: 1em;
}

@media (min-width: 768px) {
    #main-content .feature-text {
        font-size: 1.18em;
    }

    #main-content .feature-text h1 {
        font-size: 2.25em;
    }

    #main-content .feature-text h2 {
        font-size: 1.9em;
    }

    #main-content .feature-text h3 {
        font-size: 1.65em;
    }

    #main-content .feature-text h4 {
        font-size: 1.35em;
    }

    #main-content .feature-text h5 {
        font-size: 1.22em;
    }

    #main-content .feature-text h6 {
        font-size: 1.1em;
    }

    #main-content .feature-text .btn-lg {
        font-size: 0.7em;
    }

    #main-content .feature-text .btn-sm {
        font-size: 0.58em;
    }

    #main-content .feature-text .btn-xs {
        font-size: 0.43em;
    }
}

@media (min-width: 992px) {
    #main-content .feature-text {
        font-size: 1.44em;
    }
}

@media (min-width: 1200px) {
}

/* -------------- GRID ----------------- */
#main-content .grid {
    display: block;
    margin: 1em 0;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
}

#main-content .grid > li,
#main-content .grid .grid-item {
    display: block;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: left;
}

#main-content .grid > li:last-child,
#main-content .grid .grid-item:last-of-type {
    border-bottom: none;
}

#main-content .grid > li > .item-content,
#main-content .grid .grid-item .item-content {
    display: block;
    outline: none;
    text-decoration: none;
}

#main-content .grid .icon {
    display: block;
    position: relative;
    width: 16%;
    height: auto;
    float: left;
    padding: 10px 2%;
}

#main-content .grid .icon.glyphicon {
    text-align: center;
    font-size: 2.8em;
    color: #fff;
    width: 20%;
    padding: 10px 0;
}

#main-content .grid .text-content {
    display: block;
    padding-left: 25%;
}

@media (min-width: 768px) {
    #main-content .grid > li,
    #main-content .grid .grid-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: none;
    }

    #main-content .grid .icon {
        padding: 10px 0;
    }

    #main-content .grid .icon.glyphicon {
        font-size: 2.9em;
        padding: 20px 0;
    }
}

@media (min-width: 992px) {
    #main-content .grid .icon {
        width: 26%;
        padding: 10px 2%;
    }

    #main-content .grid .icon.glyphicon {
        font-size: 3.1em;
        width: 30%;
    }

    #main-content .grid .text-content {
        padding-left: 35%;
    }
}

@media (min-width: 1200px) {
}

#main-content .projects-grid {
    display: block;
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

#main-content .projects-grid > li,
#main-content .projects-grid .grid-item {
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 150px;
    position: relative;
}

#main-content .projects-grid > li > .item-content,
#main-content .projects-grid .grid-item .item-content {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.16);
}

#main-content .projects-grid > li > .item-content:hover,
#main-content .projects-grid .grid-item .item-content:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#main-content .projects-grid > li > .item-content .item-thumbnail,
#main-content .projects-grid .grid-item .item-content .item-thumbnail {
    display: block;
    width: auto !important;
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    z-index: 0;
    border: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#main-content .projects-grid > li > .item-content .overlay,
#main-content .projects-grid .grid-item .item-content .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;
    background: #fff;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s 0.4s;
    transition: all 0.5s 0.4s;
}

#main-content .projects-grid > li > .item-content:hover .overlay,
#main-content .projects-grid .grid-item .item-content:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 0;
}

#main-content .projects-grid > li > .item-content .overlay .title,
#main-content .projects-grid .grid-item .item-content .overlay .title {
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #000;
    display: block;
    line-height: 1.25;
    width: 76%;
    bottom: 13%;
    right: 12%;
    text-align: right;
    position: absolute;
    font-family: 'open_sanslight', sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

@media (min-width: 768px) {
    #main-content .projects-grid > li,
    #main-content .projects-grid .grid-item {
        height: 115px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 992px) {
    #main-content .projects-grid > li,
    #main-content .projects-grid .grid-item {
        height: 145px;
        font-size: 1em;
    }

    #main-content .projects-grid > li > .item-content .overlay .title,
    #main-content .projects-grid .grid-item .item-content .overlay .title {
        bottom: 10%;
    }
}

@media (min-width: 1200px) {
    #main-content .projects-grid > li,
    #main-content .projects-grid .grid-item {
        height: 145px;
        font-size: 1.05em;
    }
}

/* -------------- FEATURE COLUMNS ----------------- */
#main-content .feature-columns {
    display: block;
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

#main-content .feature-columns .feature-col .thumbnail {
    background-color: transparent;
    background-color: rgba(0,0,0,0);
    border: 1px solid transparent;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 0;
    padding: 0;
    color: #fff;
    font-size: 0.85em;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .feature-columns .feature-col .thumbnail:hover {
    background-color: transparent;
    background-color: rgba(0,0,0,0.3);
    background: #fff;
    border: 1px solid rgba(255,255,255,0.1);
    color: #000;
    text-decoration: none;
}

#main-content .feature-columns .feature-col .thumbnail * {
    color: #fff;
    text-decoration: none;
    outline: none;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

#main-content .feature-columns .feature-col .thumbnail:hover * {
    color: #000;
    text-shadow: none;
}

#main-content .feature-columns .feature-col .thumbnail .image-container {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

#main-content .feature-columns .feature-col a.thumbnail .image-container:after,
#main-content .feature-columns .feature-col .linked .image-container:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/theme_images/more-plus-icon.png) no-repeat center center;
    background-color: rgba(0,0,0,0.45);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .feature-columns .feature-col a.thumbnail:hover .image-container:after,
#main-content .feature-columns .feature-col .linked:hover .image-container:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-content .feature-columns .feature-col .thumbnail img.item-thumbnail {
    width: 100% !important;
    height: auto !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .feature-columns .feature-col .thumbnail:hover img.item-thumbnail {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-content .feature-columns .feature-col .thumbnail .caption {
    padding: 10px 12px 11px 12px;
}

#main-content .feature-columns .feature-col .thumbnail .caption h1,
#main-content .feature-columns .feature-col .thumbnail .caption h2,
#main-content .feature-columns .feature-col .thumbnail .caption h3,
#main-content .feature-columns .feature-col .thumbnail .caption h4,
#main-content .feature-columns .feature-col .thumbnail .caption h5,
#main-content .feature-columns .feature-col .thumbnail .caption h6,
#main-content .feature-columns .feature-col .thumbnail .caption p {
    margin: 0.5em 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #main-content .feature-columns .feature-col .thumbnail:before,
    #main-content .feature-columns .feature-col .thumbnail:after {
        content: " ";
        display: table;
    }

    #main-content .feature-columns .feature-col .thumbnail:after {
        clear: both;
    }

    #main-content .feature-columns .feature-col .thumbnail .image-container {
        float: left;
        width: auto !important;
        max-width: 45%;
        height: auto !important;
        margin-right: 17px;
    }

    #main-content .feature-columns .feature-col .thumbnail .image-container {
        content: "";
        display: table;
        clear: both;
    }

    #main-content .feature-columns .feature-col .thumbnail .caption {
        padding: 12px;
    }
}

@media (min-width: 992px) {
    #main-content .feature-columns .feature-col .thumbnail {
        text-align: left;
    }

    #main-content .feature-columns .feature-col .thumbnail .caption {
        padding: 13px 17px 15px 17px;
    }
}

@media (min-width: 1200px) {
}

/* -------------- CONTACT FORM ----------------- */
#main-content .form-style {
    display: block;
    margin: 1em 0;
    padding: 0;
}

#main-content .form-style input.text-field,
#main-content .form-style textarea {
    background: rgba(0,0,0,0.15);
    border-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    height: 34px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .form-style input.text-field::-webkit-input-placeholder,
#main-content .form-style input.text-field:-moz-placeholder,
#main-content .form-style input.text-field::-moz-placeholder,
#main-content .form-style input.text-field:-ms-input-placeholder {
    color: #fff !important;
    font-weight: bold;
}

#main-content .form-style input.text-field:focus,
#main-content .form-style textarea:focus {
    color: #000;
    background: #fff;
    border-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#main-content .form-style textarea {
    height: 125px;
}

#main-content .form-style .alert {
    display: none;
    background: #fff;
    color: #a10000;
    font-size: 0.7em;
    font-family: 'open_sansbold', sans-serif;
    border-radius: 0;
    padding: 8px 10px;
}

#main-content .form-style .alert.success {
    color: #119400;
}

#main-content .form-style .form-general-error-container {
    display: none;
}

#main-content .form-style .form-general-error-container .alert {
    display: block;
}

#main-content .form-style .form-loader {
    margin-right: 8px;
    display: none;
}

#main-content .contact-details {
    font-size: 0.9em;
    font-family: 'open_sansregular', sans-serif;
}

@media (min-width: 768px) {
    #main-content .form-style input.text-field,
    #main-content .form-style textarea {
        height: 35px;
        font-size: 0.85em;
    }

    #main-content .form-style textarea {
        height: 120px;
    }
}

@media (min-width: 992px) {
    #main-content .form-style input.text-field,
    #main-content .form-style textarea {
        height: 54px;
        font-size: 0.97em;
    }

    #main-content .form-style textarea {
        height: 195px;
    }
}

@media (min-width: 1200px) {
}

/* Placeholder Styling */
*::-webkit-input-placeholder {
    color: #fff !important;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

*:-moz-placeholder {
    color: #fff !important;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

*::-moz-placeholder {
    color: #fff !important;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

*:-ms-input-placeholder {
    color: #fff !important;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

*:focus::-webkit-input-placeholder {
    color: #444444 !important;
}

*:focus:-moz-placeholder {
    color: #444444 !important;
}

*:focus::-moz-placeholder {
    color: #444444 !important;
}

*:focus:-ms-input-placeholder {
    color: #444444 !important;
}

/* -------------- GENERAL CAROUSEL ----------------- */
#main-content .section-wrapper.modified-height .carousel {
    height: 100%;
}

#main-content .section-wrapper.modified-height .carousel .carousel-inner {
    height: 100%;
}

#main-content .section-wrapper .carousel.with-title-indicators .carousel-inner {
    height: 100%;
}

#main-content .carousel .carousel-inner {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

#main-content .carousel .carousel-inner .item {
    height: 100%;
    text-align: center;
}

#main-content .carousel .carousel-inner .item .carousel-text-content {
    display: block;
    height: 100%;
}

#main-content .carousel .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    text-align: center;
    opacity: 0.3;
    filter: alpha(opacity=30);
    background: none; /* overriding bootstrap styles */
    background-repeat: no-repeat;
    background-position: 50% 60px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .carousel:hover .carousel-control {
    opacity: .3;
    filter: alpha(opacity=30);
}

#main-content .carousel .carousel-control:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-content .carousel .carousel-control.left {
    background-image: url(../images/theme_images/carousel_arrow_left.png);
    left: 0;
}

#main-content .carousel .carousel-control.left:hover {
    background-position: 40% 60px;
}

#main-content .carousel .carousel-control.right {
    background-image: url(../images/theme_images/carousel_arrow_right.png);
    right: 0;
}

#main-content .carousel .carousel-control.right:hover {
    background-position: 60% 60px;
}

#main-content .carousel .carousel-indicators.title-indicators {
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 15;
    width: 100%;
    margin: 0;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    display: none; /* hidden on small displays */
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .carousel:hover .carousel-indicators.title-indicators {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-content .carousel .carousel-indicators.title-indicators li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 4px 10px;
    padding: 6px 10px;
    border: none; /* overriding default bootstrap styles */
    border-bottom: 2px solid rgba(255,255,255,0);
    text-indent: 0;
    cursor: pointer;
    background: none;
    border-radius: 0;
    font-family: 'open_sansbold', sans-serif;
    font-size: 0.8em;
    line-height: 1;
    font-weight: normal;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#main-content .carousel .carousel-indicators.title-indicators li:hover {
    border-color: rgba(255,255,255,0.7);
}

#main-content .carousel .carousel-indicators.title-indicators li.active {
    width: auto;
    height: auto;
    margin: 4px 10px;
    background: none;
    opacity: 1;
    filter: alpha(opacity=100);
    border-color: rgba(255,255,255,1);
}

#main-content .carousel .icon {
    margin: 0 auto 10px auto;
    display: block;
    width: 80px;
    height: auto;
}

#main-content .carousel .icon.glyphicon {
    margin: 0 auto 20px auto;
    font-size: 2.9em;
    color: #fff;
    width: auto;
    height: auto;
}

#main-content .carousel *.title {
    font-size: 2em;
    font-family: 'open_sansbold', sans-serif;
    line-height: 1.1;
    color: #fff;
    margin: 0.6em 0 0.7em 0;
    display: block;
}

@media (min-width: 768px) {
    #main-content .carousel .carousel-inner {
        /*width:76%;
            margin-left:12%;
            margin-right:12%; */
    }

    #main-content .section-wrapper.modified-height .carousel.with-title-indicators .carousel-inner {
        /*height:95%;   */
    }

    #main-content .carousel .carousel-control {
        background-position: 50%;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #main-content .carousel .carousel-control.left:hover {
        background-position: 40% 50%;
    }

    #main-content .carousel .carousel-control.right:hover {
        background-position: 60% 50%;
    }

    #main-content .carousel .carousel-indicators.title-indicators {
        /*display:block;*/
    }

    #main-content .carousel .icon {
        margin: 0px auto 10px auto;
        width: 90px;
    }

    #main-content .carousel .icon.glyphicon {
        margin: 0px auto 20px auto;
        font-size: 3.4em;
    }

    #main-content .carousel *.title {
        font-size: 2em;
        line-height: 1.1;
        margin: 0.3em 0 0.4em 0;
    }

    #main-content .carousel .item p {
        line-height: 1.7;
        margin: 1.5em 0;
    }
}

@media (min-width: 992px) {
    #main-content .section-wrapper .carousel.with-title-indicators {
        height: 100%;
    }

    #main-content .carousel .carousel-inner {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #main-content .section-wrapper .carousel.with-title-indicators .carousel-inner {
        height: 95%;
    }

    #main-content .carousel .carousel-indicators.title-indicators {
        display: block;
    }

    #main-content .carousel .icon {
        margin: 0 auto 30px auto;
        width: 110px;
    }

    #main-content .carousel .icon.glyphicon {
        margin: 0 auto 50px auto;
        font-size: 4.2em;
    }

    #main-content .carousel *.title {
        font-size: 2.4em;
        line-height: 1;
        margin: 0.4em 0 0.5em 0;
    }
}

@media (min-width: 1200px) {
}

/* ====================================================
   MODAL POPUP
   ==================================================== */
.content-to-populate-in-modal {
    display: none !important;
}

.modal {
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: none !important;
    outline: none !important;
}

.modal-backdrop {
    border: none !important;
    outline: none !important;
}

.modal .modal-content {
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.3);
    box-shadow: 0 2px 40px rgba(0,0,0,0.3);
    background-clip: padding-box;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    z-index: 100;
}

.modal .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal .modal-content .modal-body {
    padding: 15px 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .modal .modal-dialog {
        width: auto;
        margin: 20px;
    }

    .modal .close {
        top: 2px;
        right: 2px;
    }

    .modal .modal-content .modal-body {
        padding: 30px 60px;
    }
}

@media (min-width: 992px) {
    .modal .modal-dialog {
        width: 800px;
        margin: 40px auto;
    }

    .modal .close {
        top: -35px;
        right: -35px;
    }

    .modal .modal-content .modal-body {
        padding: 55px 90px;
    }
}

@media (min-width: 1200px) {
}

/* ====================================================
   OWL CAROUSEL
   ==================================================== */
.owl-carousel .owl-item {
    position: relative;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: auto;
    display: block;
}

.owl-carousel .owl-item .caption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    margin: 0;
    padding: 9px 3% 15px;
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 0.9em;
    line-height: 1.1;
    text-align: center;
    font-family: 'open_sanslight', sans-serif;
}

/* ====================================================
   IMAGES
   ==================================================== */
img.lazy {
    display: none;
}

img.rounded_border {
    border-radius: 50%;
    border: 1px solid white;
}

img.rounded_border.hover_effect {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

img.rounded_border.hover_effect:hover {
    border-color: rgba(255,255,255,0);
    -webkit-box-shadow: 0 0 0 4px #fff;
    -moz-box-shadow: 0 0 0 4px #fff;
    box-shadow: 0 0 0 4px #fff;
}

img.pull-left,
img.pull-right {
    height: auto !important;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: none !important;
    display: block;
}

img.full-width {
    width: 100% !important;
    height: auto !important;
}

@media (min-width: 768px) {
    img.pull-left,
    img.pull-right {
        height: auto !important;
        max-width: 45%;
        margin-top: 10px;
    }

    img.pull-left {
        margin-right: 40px;
        margin-left: 0;
        float: left !important;
    }

    img.pull-right {
        margin-left: 40px;
        margin-right: 0;
        float: right !important;
    }
}

@media (min-width: 992px) {
    img.pull-left {
        margin-right: 50px;
    }

    img.pull-right {
        margin-left: 50px;
    }
}

@media (min-width: 1200px) {
}